* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6f6f6;;
  color: #222;
}

.container {
  width: 90%;
  margin: auto;
}

/* NAVBAR */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo span {
  color: #ff4b5c;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ff4b5c;
}

/* HERO */

.hero {
  background-color: white;
  padding: 80px 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-img img{
  width: 350px;
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
}

.text h2 {
  font-size: 40px;
  line-height: 1.2;
}

.text p {
  margin: 15px 0;
}

.btn {
   background: #ff4b5c;
   color: #fff;
   padding: 12px 30px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.btn:hover {
  background: #e83e4f;
}

/* FEATURES */

.features {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.feature-box{
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px #ddd;
  transition: 0.3s;
}

.feature-box:hover {
  transform: translate(10px);
}

/* PRODUCT */

.product-box {
  display: flex;
  align-items: center;
  gap: 30px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 20px #ddd;
}

.product-box img {
  width: 300px;
}

.review-box {
  background: white;
  padding: 25px;
  margin: 20px 0;
  border-radius: 10px;
   box-shadow: 0 5px 15px #ddd;
}

/* FOOTER */
footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 20px;
}

/* RESPONSIVE */
@media(max-width: 768px) {
  .hero-content, .product-box {
    flex-direction: column;
    text-align: center;
  }
  .features-grid {
    grid-template-columns: 1fr, 1fr;
  }
}